/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 622px) {
    .header {
        height: 15vh;
        padding: 10px;
        width: auto;
        font-size: 1.5rem;
        color: red;
    }
    .header_title{
        font-size: 2.5rem;
    }
    .smile {
        width: 60%;
        height: 60%;
      }
    .main__title {
        font-size: 1rem;
        width: 95%;
        text-align: center;
    }
    .main { 
        box-sizing: content-box;
        height: 85vh;
        gap: 5px;
    }
    .textarea__container { 
        width: 95%;
    }
    .main__textArea {
        width: 100%;
        height: 35vh;
        font-size: 1.5rem;
        
    }
    .main__message{
        font-size: .9rem; 
        text-align: center;
        padding: 1%;;
    }
    .main__textArea::placeholder { 
        font-size: 1.2rem; 
    }

    .main__btnGroup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px
    }


    .footer {
        display: flex;
        margin-top: 10px;
        height: 100px;
        gap: 3px;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem; 

    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .header {
        height: 15vh;
        padding: 10px;
        width: auto;
        font-size: 1.5rem;
        color: red;
    }
    .header_title{
        font-size: 2.5rem;
    }
    .smile {
        width: 3rem;
        height: 3rem;
      }
    .main__title {
        font-size: 1rem;
        width: 95%;
        text-align: center;
    }
    .main { 
        box-sizing: content-box;
        height: 85vh;
        gap: 5px;
    }
    .textarea__container { 
        margin-top: 3rem;
        width: 95%;
    }
    .main__textArea {
        width: 100%;
        height: 35vh;
        font-size: 1.5rem;
        
    }
    .main__message{
        font-size: .9rem; 
        text-align: center; 
    }
    .footer {
        display: flex;
        margin-top: 10px;
        height: 100px;
        gap: 3px;
        flex-direction: column;
        align-items: center;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        height: 20vh;
        padding: 10px;
        width: auto;
        font-size: 1.5rem;
        color: red;
    }
    .header_title{
        font-size: 3.5rem;
    }
    .smile {
        width: 4rem;
        height: 4rem;
    }

    .main { 
        box-sizing: content-box;
        height: 74vh;
        gap: 5px;
    }
    .main__title{
        font-size: 1.5rem;
    }
    .textarea__container{
        margin-top: 1%;
    }

    .main__btnGroup{
        flex-direction: row;
    }
    .footer {
        display: flex;
        margin-top: 10px;
        height: 100px;
        gap: 3px;
        flex-direction: column;
        align-items: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header_title{
        font-size: 4.5rem;
    }
    .main__title{
        font-size: 1.5rem;
    }
    .textarea__container{
        margin-top: 1%;
        width: 52.688rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header{
        height: 18vh;
    }
    .main { 
        box-sizing: content-box;
        height: 74.5vh;
        gap: 5px;
    }
    .textarea__container{
        margin-top: 0%;
        width: fit-content;
        min-height: fit-content;
    }
    .main__title{
        font-size: 1.5rem;
    }
    .main__textArea{
        width: 58rem;
        height: 38vh;
    }
    .smile {
        width: 7rem;
        height: 7rem;
    }

    .footer {
        display: flex;
        margin-top: 19px;
        height: 50px;
        flex-direction: row;
        /* align-items: center; */
        position: absolute;
        bottom: 0;
        
        
        
    }
}
