.light-mode{
    transition: background-color 0.5s ease;
    --primary-color: #fef9ef;
    --secondary-color: #3D3D3D;
    --white: #FFFFFF;
    --yellow: #FFD787;
    --pink: #fa9988;
    --green: #BEF0CD;
    --red: #fc7d7d;
    --purple: #BFA1FF;
    --light-blue: #19dcea;
    --dark-purple: #b22cff;
    --selection-bg: #BFA1FF;
    --btn-outline: hsl(calc(var(--hue) + 90), 98%, 80%);
    --btn-bg: hsl(var(--hue), 98%, 80%);
    --hover-bg: hsl(200 100% 80%);
}
  /* Dark mode */
.dark-mode {
      --primary-color: #1a1a1a;
      --secondary-color: #eeeeee;
      --white: #2c2c2c;
      --yellow: #dcc085;
      --pink: #fa8f79;
      --green: #2a7d5f;
      --red: #b33e3e;
      --purple: #6b4e99;
      --light-blue: #0a6b7a;
      --dark-purple: #6b1b99;
      --selection-bg: #6b4e99;
      --btn-outline: hsl(calc(var(--hue) + 90), 30%, 40%);
      --btn-bg: hsl(var(--hue), 30%, 40%);
      --hover-bg: hsl(200, 30%, 40%);
      transition: background-color 0.5s ease;
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23767379' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
    }